.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#clip-player {
    width: 80%;
    height: auto;
}

#debug-messages {
    margin-top: 10px;
    color: red;
}